<div class="login-container">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Username</label>
        <input type="text" id="username" [(ngModel)]="user.userName" name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <p>Pas encore inscrit ? <a routerLink="/register">S'inscrire ici</a></p>
  </div>
