<h2>Inviter {{ data.toPlayer.userName }}</h2>
<div>
  <label>
    Type of the game :
    <select [(ngModel)]="selectedGameType">
      <option [value]="gameType.SAMPLE">Sample</option>
      <option [value]="gameType.TALAGE">Talage</option>
    </select>
  </label>
  <label>
    {{ isAccepted ? 'Response : Accept': isAccepted === false ? 'Response : refused' : isSended ? 'Response : Waiting ...' : ''}}

  </label>
</div>

<div>
  <button *ngIf="!isSended" (click)="sendInvitationRequest()">Send</button>
  <button *ngIf="isSended && isAccepted" (click)="startGame()">Start</button>
  <button (click)="closeDialog()">Cancel</button>
</div>
