<div class="register-container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="user.userName" name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
